

@media (min-width: 576px) {  }


@media (min-width: 768px) {  }


@media (min-width: 992px) { }


@media (min-width: 1200px) {  }

body { 
     background:  #f4f4fb;
}


.itemComponent ul { 
    padding : 4em 4em 4em 4em
    
} 

.footerItem { 
    padding: 0.5em;
}

.itemComponent ul li { 
    list-style-type: none;    
} 

